// .date-picker-container {
//   position: relative;
//   width: 100%;
//   padding: 1em 1em 2em 0;
//   .date-picker {
//     position: absolute;
//     right: 0;
//   }
// }

// .pagination {
//   padding: 35px 5px 10px 5px;
// }
.msg-section {
   // padding: 15px;
  margin-top: 15px;
  // border-radius: 5px;
  // height: 85vh;
  // overflow-y: scroll;
  border-radius: 5px;
  position: relative;
  // box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.1);
  background: #f7f7f7;
  border: 1px solid #d1d5da;
}

.paginate-container {
  list-style-type: none;
  padding: 10px;
  // border-bottom: 1px solid rgb(214, 214, 214);
  // border-radius: 5px 5px 0 0;
  border-radius: 5px;
  background: #f1f1f1;
  overflow: hidden;
  // height: 3em;
  z-index: 10;
  // position: -webkit-sticky;
  // position: sticky;
  top: 0;
  display: block;
  // box-shadow: 0px 2px gray;
  li {
    float: left;
    padding: 0 2px;
  }
}

.msg-container {
  padding: 10px;
  border-bottom: 1px solid rgb(214, 214, 214);
  border-top: 1px solid rgb(214, 214, 214);
  // border-radius:  0 0 5px 5px;
  min-height: 30vh;
}

.chat-section {
  padding-top: 0;
}

.chat-title {
  background: #fff;
}

.chat-sidebar {
  background: #444753;
  border-radius: 3px;
  p {
    color: white;
  }
}

.chat-head-title {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.chat-ads-card {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid;
  padding: 0 2px;
  margin: 0;
  line-height: 1rem;
  border-radius: 3px;
}

.cad,.ad-card {
  border-radius: 5px;
  padding: 5px 5px 0 5px;
  .card-image {
    
  }
}