.chat-section {
  padding-top: 1.5rem;
  min-height: 75vh;
}

.msg-section {
   // padding: 15px;
  margin-top: 15px;
  // border-radius: 5px;
  // height: 85vh;
  // overflow-y: scroll;
  border-radius: 5px;
  position: relative;
  // box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.1);
  background: #f4f4f4;
  border: 1px solid #d1d5da;
  min-height: 75vh;
}

.paginate-container {
  list-style-type: none;
  padding: 10px;
  // border-bottom: 1px solid rgb(214, 214, 214);
  // border-radius: 5px 5px 0 0;
  border-radius: 5px;
  background: #f1f1f1;
  overflow: hidden;
  // height: 3em;
  z-index: 10;
  // position: -webkit-sticky;
  // position: sticky;
  top: 0;
  display: block;
  // box-shadow: 0px 2px gray;
  li {
    float: left;
    padding: 0 2px;
  }
}

.msg-container {
  padding: 10px;
  border-bottom: 1px solid rgb(214, 214, 214);
  border-top: 1px solid rgb(214, 214, 214);
  // border-radius:  0 0 5px 5px;
  min-height: 30vh;
}


.chat-title {
  background: #fff;
}

.chat-sidebar {
  background: #444753;
  border-radius: 3px;
  p {
    color: white;
  }
}

.chat-head-title {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

