$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

// .date-picker-container {
//   position: relative;
//   width: 100%;
//   padding: 1em 1em 2em 0;
//   .date-picker {
//     position: absolute;
//     right: 0;
//   }
// }

// .pagination {
//   padding: 35px 5px 10px 5px;
// }

.paginate-container {
  list-style-type: none;
  padding: 25px 5px 10px 5px;
  overflow: hidden;
  li {
    float: left;
    padding: 0 2px;
  }
}

.chat-section {
  padding-top: 0;
}

.msg-section {
  background: #efefef;
  padding: 15px;
  border-radius: 4px;
  // height: 85vh;
  overflow-y: scroll;
  display: block;
  min-height: 30vh;
}

.chat-title {
  background: #fff;
}
.msg-container {
  min-height: 70vh;
  background-color: #eee;
  border-radius: 3px;
}

.chat-sidebar {
  background: #444753;
  border-radius: 3px;
  p {
    color: white;
  }
}

.chat-head-title {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
