.topics-section {
  padding-top: 1.5rem;
  min-height: 75vh;
}

.topic-level {
  border-bottom: 1px;
  // margin-top: 0 !important;
  // padding: .5rem !important;
  // &:hover {
  //   background: #efefef;
  // }
}

.topic-level a {
  color: #333;
  &:hover {
    color: #3273dc;
  }
}