.group-box {
  width: 100%;
  padding-bottom: 2.5rem;
  margin-bottom: 0;
  position: relative;
}

.chatcard-status-nav {
  position: absolute;
  bottom: 1em;
}

.chatcard-info-a {
  font-size: .8rem;
  color: #555;

  a,&:hover {
    color: #3273dc;
  }
}

.chatcard-info-div {
  font-size: .8rem;
  color: #555;
}