.footer {
  background-color: #222831;
  color: lemonchiffon;
}

.footer p, .footer p strong {
  color: lemonchiffon
}

.footer a:hover {
  color: crimson;
}

.fa {
  color: lemonchiffon;
  margin: 10px
}