$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

.msg-from {
  font-size: 13px;
  color: #888;
  .msg-from-time {
    color: #94C2ED;
  }
}

.chat-message {
  // color: white;
  display: inline-block;
  padding: 8px 10px;
  margin: 5px 10px 10px 10px;
  // line-height: 26px;
  font-size: 15px;
  border-radius: 5px;
  // margin-top: 15px;
  // margin-left: 10px;
  // width: 90%;
  position: relative;
  background-color: #fff;
  word-break: break-all;
  white-space: pre;

  // &:after {
  //   bottom: 100%;
  //   left: 5%;
  //   border: solid transparent;
  //   content: " ";
  //   height: 0;
  //   width: 0;
  //   position: absolute;
  //   pointer-events: none;
  //   border-bottom-color: rgb(192, 188, 188);
  //   border-width: 10px;
  //   margin-left: -10px;
  // }


}

.chat-msg-img {
  img {
    max-width: 20rem;
    max-height: 10rem;
  }
  // padding: 8px 10px;
  margin: 5px 10px 10px 10px;
  overflow: hidden;
}